body, footer {
    min-width: 320px;
    max-width: 768px;
    margin: 0 auto;
    background: white;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.mt-5{
    margin-top: 5px;
}
.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-60 {
    margin-bottom: 60px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-100 {
    margin-left: 100px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-20 {
    padding-left: 20px;
}

.pl-30 {
    padding-left: 30px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-20 {
    padding-right: 20px;
}

.pr-30 {
    padding-right: 30px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-30 {
    padding-top: 30px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

/*首页菜单*/

.menu ul {
    width: 88%;
    margin: 0 auto;
}

.menu li {
    width: 25%;
    height: 75px;
    margin: 10px 0 0 0;
    text-align: center;
}

.menu a {
    text-align: center;
}

.menu a img {
    margin: 0 auto;
    display: block;
    width: 38px;
    height: 38px;
    padding-bottom: 4px;
}

.php-left-li li {
    float: left;
}

.logo_menu {
    width: 100%;
    height: 120px;
    background: white;
    text-align: center;
}

.menu_but {
    display: inline-block;
    float: right;
    margin: 15px;
}

.seek {
    width: 100%;
    height: 130px;
    background: #ee8d00;
}

.nav {
    width: 100%;
    height: 200px;
    background: white;
    text-align: center;
}

.slide_show {
    height: 130px;
}

.layui-carousel-ind ul {
    float: right;
    margin-right: 30px;
}

.l-f {
    float: left;
    list-style: none;
}

.new {
    width: 100%;
    height: 280px;
    text-align: center;
}

.list {
    width: 100%;

    text-align: center;
}

.buddha {
    width: 90px;
    height: 90px;
    border-radius: 3px;
}

.more_but {
    background: #ee8d00;
    width: 100px;
    line-height: 25px;
    color: white;
    display: inline-block;
    margin-bottom: 30px;
}

.footer_icon {
    width: 90%;
    height: 180px;
    background: white;
}

.footer_bot {
    height: 120px;
    text-align: center;
    background: #333333;
}

.footer_bot span {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    color: #9F9F9F;
}

.bot_li a {
    color: white;
    font-size: 15px;
}

.bot_li li {
    width: 25%;
}

/*首页菜单结束*/

/*公用头部*/
.public-top {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 10px 1px rgba(7, 17, 27, .1);
    z-index: 99999;
    min-width: 320px;
    max-width: 768px;
    background: url('./images/lb.jpg');
}

.public-top li {
    height: 42px;
    line-height: 42px;
}

.public-top .login {
    width: 20%;
    padding-left: 7px;
}

.public-top .login img {
    margin-top: 14px;
    width: 23px;
    float: left;
}

.public-top .logo {
    float: left;
    width: 55%;
    text-align: center;
}

.public-top .logo mip-img {
    margin: 0 auto;
    display: block !important;
}

.public-top .f-right {
    width: 10%;
    text-align: right;
    padding-right: 15px;
}

.public-top .f-right i {
    font-size: 19px;
}

.public-top a, .public-top i {
    color: white;
}

/*文章详情*/

.content {

    margin-bottom: 100px;
}

.content img {
    width: 100%;
}

.content h3 {
    font-weight: bold;
    font-size: 16px;
}

.article_content img {
    width: 100%;
}

.article_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: white;
    border-bottom: 1px solid #ececec;
}

.article_footer a {
    display: inline-block;
    width: 24%;
    text-align: center;
    color: #9F9F9F;
}

.article_footer a img {
    width: 25px;
}

.article_footer a p {
    font-size: 12px;
    margin-top: 4px;
}

.seek-input {
    border: none;
    border-bottom: 2px solid #9F9F9F !important;
    padding-bottom: 5px;
    color: #333;
    width: 50%;
    text-align: center;
}

.seek_box {
    height: 35px;
    width: 100%;
    border-radius: 10px;
    position: relative;
    border: 1px solid #ee8d00;
}

.more {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 15px;
    color: white;
    border-radius: 7px;
    position: absolute;
    top: 140px;
    right: 10px;
}

/*文章详情结束*/
/*搜索*/
.seek_icon {
    margin-top: 2.6%;
    margin-left: 6%;
    margin-right: 10px;
    color: #ee8d00;
    font-size: 18px;
}

.seek_input2 {
    height: 35px;
    border: 0px;
    width: 60%;
}

.seek_but {
    background: #ee8d00;
    height: 35px;
    width: 20%;
    border: 0;
    position: absolute;
    border-radius: 0 10px 10px 0;
    color: white;
}

/*搜索结束*/
/*名片详情*/
.card_header {
    width: 100%;
    height: 80px;
}

.card_main {
    width: 100%;
    background: url("./images/detailsb.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    text-align: center;
    padding-bottom: 100px;
}

.card_main .personal {
    padding-top: 40px;
}

.card_main .personal img {
    width: 100px;
    border-radius: 50%;
}

.personal h2 {
    margin-top: 10px;
    color: white;
}

.personal p {
    margin-top: 20px;
    color: white;
}

.info {
    margin-top: 30px;
    background: url("./images/infob.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    width: 80%;
    margin-left: 10%;
    height: 400px;
}

.info ul {
    padding-top: 10%;
    padding-left: 13%;
}

.info li {
    margin-top: 7%;
}

.info li p {
    margin-right: 10px;
    text-align: left;
    font-family: "微软雅黑";
}

.data {
    background: url("./images/datab.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    width: 80%;
    margin-top: 30px;
    margin-left: 10%;
}

.data .data_map {
    padding-top: 20%;
    padding-left: 7%;
}

.container {
    width: 95%;
    background: white;
    box-shadow: -3px 0px 15px #cccccc;
}

.footer_but {
    width: 100px;
    height: 100px;
    background: #ee8d00;
    display: block;
    border: 0;
    color: white;
    font-weight: bold;
    font-size: 17px;
    font-family: 'Lucida Handwriting';
    margin-top: 70px;
    margin-left: 38%;
}

/*名片详情结束*/
/*登陆和注册*/
.login_home {
    background: url('./images/loginb.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}

.login_info {
    width: 100%;
    text-align: center;
}

.login_inp {
    left: 10px;
    width: 60%;
    color: white;
    padding-left: 40px;
    border-radius: 14px;
    height: 35px;
    position: relative;
    border: 1px solid white;
    background: none;
}

.login_inp_icon {
    color: white;
    position: relative;
    right: 65%;
}

.login_forget {
    color: white;
    margin-left: 50%;
    text-decoration: underline;
}

.login_but {
    width: 35%;
    height: 30px;
    border: 0px;
    border-radius: 12px;
    background: rgba(222, 222, 222, 0.3);
    letter-spacing: 3px;
}

/*登陆和注册结束*/
/*主播列表*/
.user_list {
    width: 100%;
}

.list_user_info {
    margin-top: 10px;
    float: left;
}

.list_user_name {
    display: inline-block;
    width: 100%;
    border-bottom: 1px dotted #d6d6d6;
}

.list_user_name span {
    font-size: 17px;
}

.portrait {
    float: left;
    width: 90px;
    margin-right: 10px;
    border-radius: 10px;
}

/*主播列表结束*/
/*招聘页面*/
.join_head {
    background: url("./images/header.jpg") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 150px;
}

.genre {
    width: 100%;
    height: 30px;
    border: 1px solid white;
    padding: 3px 8px;
    border-radius: 5px;
    color: white;
    margin-right: 5px;
}

.join_content {
    width: 100%;
    text-align: center;
}

.join_info {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.join_but {
    border-radius: 10px;
    border: 0px;
    background: #ee8d00;
    width: 80px;
    height: 27px;
    color: white;
    margin-top: 10%;
}

.join_but2 {
    border-radius: 10px;
    border: 0px;
    background: #ee8d00;
    width: 200px;
    height: 35px;
    color: white;
    margin: 10% auto;
    text-align: center;
    line-height: 35px;
}

.position_desc {
    margin: 0 30px;
}

.desc_title {
    margin-bottom: 10px;
    color: #ee8d00;
    font-weight: bold;
    font-size: 14px;
}

/*招聘页面结束*/
/*table切换导航*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px;
}

.notice {
    width: 100%;
}

.notice-tit ul {
    position: absolute;
    width: 100%;
    left: -1px;
}

.notice-tit li {
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
    float: left;
    width: 24%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    overflow: hidden;
    background: #ee8d00;
    margin-left: 3px;
}

.notice-tit li.select a {
    color: #ee8d00;
}

.notice-tit li.select {
    background: #eee;
    color: #ee8d00;
    border-bottom-color: #ee8d00;
    padding: 0;
    font-weight: bolder;
}

.notice li a {
    color: white;
}

.notice li a:hover {
    color: #F90;
}

.notice-con {
    padding-top: 70px;
}

.notice-con .mod ul li {
    float: left;
    width: 100%;
    border-top: 1px solid #ececec;
    padding: 20px 0px;
}

/*结束*/
/*排行榜*/
.num {
    font-family: 'Showcard Gothic';
    font-size: 25px;
    font-weight: bold;
    color: #ee8d00;
    float: left;
}

.source {
    letter-spacing: 2px;
    border-radius: 4px;
    display: inline-block;
    padding: 3px 20px;
    background: #a6e1ec;
    border: 1px solid #1E9FFF;
    color: #1b6d85;
}

.user_name {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px
}
.ranking_but{
    width: 120px;
    height: 30px;
    background: #ee8d00;
    display: block;
    border: 0;
    color: white;
    margin-left: 36%;
}
/*月份*/
.month_li {
    height: 50px;
    border-top: 1px solid #d6d6d6;
    line-height: 50px;
    padding-left: 30px;
}

.month_li span {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px
}
.month_li_but{
    width: 70%;
    height: 38px;
    background: #ee8d00;
    display: block;
    border-radius: 13px;
    border: 0;
    color: white;
    margin-left: 16%;
}
/*月份结尾*/

